#loginCard {
    position: absolute;
    left: 36%;
    top:25%;
    padding: 50px;
    background-color: rgba(231, 231, 238, 0.856);
    color: rgb(0, 0, 0);
}

#loginCardBody {
    font-size: larger;
}

