.text {
    font-size: 50px;
    margin-left: 10cm;
}

.startText {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: rgb(100, 100, 8);
}

/*.sideB {
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 3;
    background-color: rgb(0, 68, 28);
  }*/

/*.okay {
    background-image: 
    url('./bangsal-nam-9HMGyZJfrk8-unsplash.jpg');
        
}*/

#menuItem:hover {
    background-color: rgb(39, 37, 37);
}



.divExercs {
    background-color: black;
    margin: auto;
    display: flex;
    height: 100%;
    align-items: center;
    align-content: center;
}

#imgExercises {
    background-image: url('./florian-olivo-4hbJ-eymZ1o-unsplash\ \(2\).jpg');
    height: 105vh;
    width: 173vh;
    opacity: 0.6;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-size: cover;
}

#innerDiv {
    position: absolute;
    display: -ms-inline-flexbox;
    top: 50%;
    right: 4%;
    transform: translate(-50%, -50%);
    background-color: rgba(3, 2, 59, 0.63);
    color: white;
    height: 500px;
    width: 750px;
    text-align: center;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.animation {
    height: 50px;
    overflow: hidden;
    margin-left: 1rem;
}

.animation>div>div {
    padding: 0.70rem 1rem;
    height: 2.83rem;
    margin-bottom: 2.81rem;
    display: inline-block;
}

.animation div:first-child {
    animation: text-animation 8s infinite;
    padding: 2px;
}

.first div {
    background-color: #CD921E;
}

.second div {
    background-color: #072780;
}

.third div {
    background-color: #c10528;
}

@keyframes text-animation {
    0% {
        margin-top: 0;
    }

    10% {
        margin-top: 0;
    }

    20% {
        margin-top: -5.62rem;
    }

    30% {
        margin-top: -5.62rem;
    }

    40% {
        margin-top: -11.24rem;
    }

    60% {
        margin-top: -11.24rem;
    }

    70% {
        margin-top: -5.62rem;
    }

    80% {
        margin-top: -5.62rem;
    }

    90% {
        margin-top: 0;
    }

    100% {
        margin-top: 0;
    }
}