.divPics {
    margin-top: 0vh;
    width: 95vw;
    text-align: center;
    background: #080531be;
    padding: 7.62rem 0rem;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}